* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #7a89a0, #f57786);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.container {
  background: rgba(233, 232, 232, 0.829);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
  width: 350px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: #0078d7;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #005fa3;
}

#result {
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}
