*{
margin:0;
padding:0;
box-sizing: border-box;
}

html,body{
width: 100%;
height: 100%;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #a08872, #220b14e7);
  font-family: 'Poppins', sans-serif;
}

.container {
  background: rgba(255, 255, 255, 0.877);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
  width: 350px;
}

h1 {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  resize: none;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: #7c303ede;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #e2556b;
}

#result {
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}
