* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  overflow: hidden;
}

span{
    width: 100px;
    height: 100px;
    background-image: url(https://img.icons8.com/?size=80&id=dKjAZULRJlO7&format=png);
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: heart 6s linear;
}

@keyframes heart{
    0%{
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }
    100%{
        transform: translate(-50%, -500%);
        opacity: 0;
        /* filter: hue-rotate(720); */
    }
}